/* Overriding Bootstrap defaults
------------------------------------------*/
body {
    font-size: 16px;
    color: #333;
    font-family: 'db_sansregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding-bottom: 0px;
    font-weight: 300;
}
h1, h2, h3, h4, h5 {
    color: #000066;
    font-family: 'db_headregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.125em; }

h2 {
  font-size: 1.6875em; }

h3 {
  font-size: 1.375em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1rem; }

small {
    font-family: 'db_sansregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.nav a {
    font-family: 'db_headregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.thumbnail {
    border-color: #ccc;
}
a.thumbnail:hover {
    border-color: #ff0000;
}
.well {
    background-color: #dedede;
    border-color: #ccc;
}
a:link, a:visited {
    color: #ff0000;
}
a:hover, a:active {
    color: #999;
    text-decoration: none;
}
.btn-default {
    background-color: #D7DEE2;
}
.btn-default:hover {
    background-color: #878C96;
    color: #fff;
}
.btn-default:focus {
    background-color: #878C96;
    color: #fff;
}

/* Infographic 
------------------------------------- */
.infographic-wrapper {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 1001;
}
.infographic-scroller {
    margin: auto;
    width: 75%;
    overflow: auto;
}
.infographic-scroller button {
    position: absolute;
    top: 0;
    margin-left: 75.2%;
}
.infographic-wrapper img {
    margin: auto;
}

/* Header and Nav
-------------------------------------*/
.logo {
    padding-left: 0;
}
.tagline {
    margin-top: 1%;
    margin-bottom: 0px;
}
.tagline .push-right {
    margin-left: 70px;
}
.tagline small {
    font-size: 65%;
}
.nav-container {
    width: 100%;
}
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #CCCCCC;
    padding: 30px 0;
}
.navbar a:link, .navbar a:visited {
    color: #cc0000;
}
.navbar a:hover, .navbar a:active {
    color: #999;
}
.navbar-header {
    margin: 0 !important;
}
.navbar-header img {
    width: 100%;
}
.navbar li {
    font-size: 20px;
}
.navbar a:hover, .navbar a:focus {
    background-color: white !important;
}
.navbar-inverse li.active a {
    background-color: #FF0000 !important;
}
.navbar-toggle {
    margin-top: 0;
    float: left;
    background-color: #000066;
}
.navbar-toggle .icon-bar {
    background-color: white;
}

/* Slider
----------------------------------------- */
#carouselWrapper {
    background-color: #000;
    border-bottom: 10px solid #000066;
}
.carousel-control {
    color: #fff !important;
}
.carousel {
    margin-bottom: 0px;
}
.carousel-caption {
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    padding: 20px;
    margin: 0;
    text-align: left;
}
.carousel-caption h1 {    
    color: #666666;
    margin: 0;
}
.carousel img {
    width: 100%;
}
img.box-ad {
    width: 46.9%;
    margin: auto;
}
.carousel .video {
    width: 65.3%;
    margin: 0 auto;
}

/* Responsive Videos
-------------------------------- */
.video-container {
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.video-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* Home Page
-----------------------------*/
.marketing .col-lg-4 {
    text-align: left;
}
.marketing .col-lg-4 h3 {
    margin-left: 10px;
}
.container.marketing {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    width: 100%;
}
.videos {
    overflow: hidden;
}
.videos .thumbnail {
    width: 32.6%;
    padding: 0.5% 0.5% 0; 
    float: left;
    height: 510px;
}
.videos .first {
    margin-right: 1%;
}
.videos .second {
    margin-right: 1%;
}
/* What's New page
-------------------------*/
.container.news {
    width: 100%;
    padding-top: 3%;
}
.lan-select {
    margin-top: 2%;
}
.download {
    margin-left: 3%;
    display: inline-block;
}
.news-image {
    padding: 30px 20px 20px 30px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
}
.news-image-right {
    padding: 30px 30px 20px 20px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.news.well {
    margin-top: 3%;
}
.news-secondary p {
    margin-top: 10%;
}
hr.news-divider {
    width: 100%;
}

/* Our Team page
-----------------------------*/
.container.headshots {
    padding-top: 0;
    width: 100%;
}
.headshots h1 {
    float: none;
    padding-left: 2%;
}
.headshots .col-lg-4 {
    padding: 0px;
    margin-bottom: 0;
}
.headshots img {
    width: 95%;
    margin-top: 10px;
}
.headshots h3 {
    height: 4em;
}
.headshots p {
    text-align: left;
}
.summary {
    height: 13em;
}
.headshots .col-lg-11 {
    float: none;
    margin: 0 auto;
}
.readMore, .readLess {
    display: inline-block;
}

/* Case Studies page
----------------------------------- */
.featurette span.glyphicon-circle-arrow-right {
    top: 3px;
}

/* Services page
---------------------*/

.shorty-image {
    padding-top: 16%;
}

/* Old footer
------------------------------- */
#footer {
    padding-top: 15px;
    background-color: black;
    width: 100%;
    margin: 0;
    color: white;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5 {
    color: white;
}
#footer a:link, #footer a:visited {
    color: #999;
}
#footer a:hover, #footer a:active {
    color: #ff0000;
}
.footer-left {
    border-right: 1px dotted white;
}
.copyright {
    margin-top: 50px;
}


/* Helper Classes
---------------------------------------------------*/

.no-margin {
    margin: 0;
}
.white {
    color: white;
}
.black {
    color: black !important;
}
a.black:hover {
    color: white !important;
}
.db-red {
    color: #ff0000;
}
.subhead {
    color: black;
    line-height: 24px;
}

/* current footer
---------------------------------------------------*/
#footer-white {
    background: #fff;
    margin-top: 80px;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased; }
@media (max-width: 991px) {
    #footer-white {
        padding-top: 30px; } }
@media (max-width: 767px) {
    #footer-white .menu {
        margin-top: 40px; } }
#footer-white .menu h3 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*font-size: 14px;*/
    font-weight: 600; }
#footer-white .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
#footer-white .menu ul li {
    display: block;
    margin-bottom: 9px; }
#footer-white .menu ul li a {
    color: #999;
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
#footer-white .menu ul li a:hover {
    color: #ff0000;
    text-decoration: none; }
@media (max-width: 991px) {
    #footer-white .menu ul li a {
        padding: 0; } }
#footer-white .menu ul li .hiring {
    font-weight: 700;
    letter-spacing: .3px;
    text-transform: uppercase;
    word-spacing: 1.5px;
    font-size: 11px;
    margin-left: 4px;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    background: #CC6666; }
#footer-white .menu ul li .hiring:hover {
    color: #fff;
    background: #CC0000; }
@media (max-width: 767px) {
    #footer-white .newsletter {
        text-align: center;
        margin-top: 40px; } }
#footer-white .newsletter .signup {
    margin-bottom: 30px; }
#footer-white .newsletter .signup p {
    font-size: 13px;
    color: #666;
    width: 90%;
    float: right;
    text-align: left;
    line-height: 20px; }
@media (max-width: 767px) {
    #footer-white .newsletter .signup p {
        float: none;
        text-align: center;
        width: 100%; } }
#footer-white .newsletter .signup form {
    float: right;
    width: 90%;
    position: relative; }
@media (max-width: 767px) {
    #footer-white .newsletter .signup form {
        float: none;
        width: 100%; } }
#footer-white .newsletter .signup form input[type="text"] {
    height: 40px;
    font-size: 13px; }
#footer-white .newsletter .signup form input[type="text"]::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 17px; }
#footer-white .newsletter .signup form input[type="text"]:-moz-placeholder {
    font-size: 13px;
    line-height: 17px; }
#footer-white .newsletter .signup form input[type="text"]::-moz-placeholder {
    font-size: 13px;
    line-height: 17px; }
#footer-white .newsletter .signup form input[type="text"]:-ms-input-placeholder {
    font-size: 13px;
    line-height: 17px; }
#footer-white .newsletter .signup form input[type="submit"] {
    border: 0;
    background: #CC6666;
    color: #FFF;
    border-radius: 3px;
    padding: 6px 10px;
    position: absolute;
    top: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
    right: 5px;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
#footer-white .newsletter .signup form input[type="submit"]:hover {
    background: #CC0000; }
#footer-white .newsletter a {
    border: 0;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-left: 15px;
    position: relative;
    top: -10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease; }
#footer-white .newsletter a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
#footer-white .credits {
    margin-top: 30px; }
#footer-white .credits .col-md-12 {
    padding-top: 20px;
    font-size: 13px;
    color: #A1AAB6; }
#footer-white .social {
    margin-top: 20px;
    margin-left: 2%;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
label {
    font-weight: normal;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Bio wells */
@media (min-width: 850px) and (max-width: 1380px) {
    .headshots h3 {
        font-size: 1.2em;
        height: 4.6em;
    }
}
@media (min-width: 1080px) and (max-width: 1290px) {
    .summary {
        height: 16em;
    }
}

@media (min-width: 900px) and (max-width: 1079px) {
    .summary {
        height: 20em;
    }
}
@media (min-width: 768px) and (max-width: 899px) {
    .headshots h3 {
        font-size: 1.2em;
        height: 5em;
    }
    .summary {
        font-size: 0.9em;
        height: 23em;
    }
}
@media (min-width: 500px) and (max-width: 767px) {
    .headshots img {
        float: left;
        width: 39%;
        margin-top: 0;
        padding: 0 15px 15px 0;
    }
    a.readMore, a.readLess {
        display: block;
        clear: both;
    }
}

@media (max-width: 767px) {
    #footer-white {
        padding-top: 0;
    }
    #footer-white .col-xs-3 {
        clear: both;
    }
    .social {
        text-align: left;
    }
    .social img {
        width: 30px;
    }
    .carousel-caption h1 {
        font-size: 1.5em;
    }
    .headshots h3 {
        height: auto;
    }
    .headshots .col-sm-4 {
        margin-top: 20px;
        padding: 0;
    }
    .videos .thumbnail {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 2%;
    }
    .videos {
        border: none;
    }
    .glasgow {
        float: none !important;
    }

}

@media (max-width: 991px) {
    #footer-white .newsletter .signup form input[type="submit"] {
        top: 50px;
    }
    .case-studies .featurette-divider {
        margin: 30px 0;
    }
    .headshots .col-sm-6 {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
    }
}

@media (max-width: 480px) {
    .tagline small {
        font-size: 48%;
    }
    .carousel-caption h1 {
        font-size: 0.9em;
    }
    .summary {
        height: auto;
    }

}

@media (min-width: 618px) and (max-width: 992px) {
    .navbar .container {
        width: 100%;
    }
    .navbar-collapse {
        display: block;
    }
    .navbar-toggle {
        display: none;
    }
    ul.nav, .nav > li, .nav > li > a {
        display: inline-block;
    }
}
@media (min-width: 618px) and (max-width: 698px) {
    ul.nav {
        margin: 0px;
    }
}
@media (max-width: 786px) {
    .navbar li {
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 60px;
    }
}

/* Fonts */
@font-face {
    font-family: 'db_sansregular';
    src: url('./fonts/dbsans-regular-webfont.eot');
    src: url('./fonts/dbsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/dbsans-regular-webfont.woff') format('woff'),
         url('./fonts/dbsans-regular-webfont.ttf') format('truetype'),
         url('./fonts/dbsans-regular-webfont.svg#db_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_sansregular';
    src: url('fonts/dbsans-bold-webfont.eot');
    src: url('fonts/dbsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-bold-webfont.woff') format('woff'),
         url('fonts/dbsans-bold-webfont.ttf') format('truetype'),
         url('fonts/dbsans-bold-webfont.svg#db_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'db_sansregular';
    src: url('fonts/dbsans-italic-webfont.eot');
    src: url('fonts/dbsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-italic-webfont.woff') format('woff'),
         url('fonts/dbsans-italic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-italic-webfont.svg#db_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'db_headblack_italic';
    src: url('fonts/dbhea37-webfont.eot');
    src: url('fonts/dbhea37-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbhea37-webfont.woff') format('woff'),
         url('fonts/dbhea37-webfont.ttf') format('truetype'),
         url('fonts/dbhea37-webfont.svg#db_headblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_headblack';
    src: url('fonts/dbhea07-webfont.eot');
    src: url('fonts/dbhea07-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbhea07-webfont.woff') format('woff'),
         url('fonts/dbhea07-webfont.ttf') format('truetype'),
         url('fonts/dbhea07-webfont.svg#db_headblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_headregular';
    src: url('fonts/dbhea03-webfont.eot');
    src: url('fonts/dbhea03-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbhea03-webfont.woff') format('woff'),
         url('fonts/dbhea03-webfont.ttf') format('truetype'),
         url('fonts/dbhea03-webfont.svg#db_headregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_sansblack';
    src: url('fonts/dbsans-black-webfont.eot');
    src: url('fonts/dbsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-black-webfont.woff') format('woff'),
         url('fonts/dbsans-black-webfont.ttf') format('truetype'),
         url('fonts/dbsans-black-webfont.svg#db_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansblack_italic';
    src: url('fonts/dbsans-blackitalic-webfont.eot');
    src: url('fonts/dbsans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-blackitalic-webfont.woff') format('woff'),
         url('fonts/dbsans-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-blackitalic-webfont.svg#db_sansblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}








@font-face {
    font-family: 'db_sansbold_italic';
    src: url('fonts/dbsans-bolditalic-webfont.eot');
    src: url('fonts/dbsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-bolditalic-webfont.woff') format('woff'),
         url('fonts/dbsans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-bolditalic-webfont.svg#db_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
