body {
    color: #333;
    font-family: 'db_sansregular', Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
	color: #000066;
}
a:link, a:visited {
    color: #ff0000;    
}
a:hover, a:active {
    color: #999;
}
#myCarousel {
	width: 960px;
	margin:0 auto;
}
.carousel-control {
    color: #fff !important;
}
.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid #CCCCCC;
	padding: 30px 0;
}
.navbar-header img {
	width: 100%;
}
.navbar-nav {
	margin: 0 40px 0 !important;
}
.navbar li {
	font-size: 20px;
}
.navbar a:hover, .navbar a:focus {
	background-color: white !important;
}
.navbar-inverse li.active a {
	background-color: #FF0000 !important;
}

#carouselWrapper {
	background-color: #e7e7e7;
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}

.carousel-caption {
	padding-bottom: 190px;
}
.carousel-caption h1 {
	color: white;
	font-size: 400%;
}
.container.marketing {
	margin-top: 60px;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
.btn-default:hover, .btn-default:hover {
    background-color: #e7e7e7;
    border-color: #999;
}

.jumbotron {
	margin: 30px;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* Fonts */

@font-face {
    font-family: 'db_sansblack';
    src: url('fonts/dbsans-black-webfont.eot');
    src: url('fonts/dbsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-black-webfont.woff') format('woff'),
         url('fonts/dbsans-black-webfont.ttf') format('truetype'),
         url('fonts/dbsans-black-webfont.svg#db_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansblack_italic';
    src: url('fonts/dbsans-blackitalic-webfont.eot');
    src: url('fonts/dbsans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-blackitalic-webfont.woff') format('woff'),
         url('fonts/dbsans-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-blackitalic-webfont.svg#db_sansblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansbold';
    src: url('fonts/dbsans-bold-webfont.eot');
    src: url('fonts/dbsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-bold-webfont.woff') format('woff'),
         url('fonts/dbsans-bold-webfont.ttf') format('truetype'),
         url('fonts/dbsans-bold-webfont.svg#db_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansbold_italic';
    src: url('fonts/dbsans-bolditalic-webfont.eot');
    src: url('fonts/dbsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-bolditalic-webfont.woff') format('woff'),
         url('fonts/dbsans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-bolditalic-webfont.svg#db_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansitalic';
    src: url('fonts/dbsans-italic-webfont.eot');
    src: url('fonts/dbsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-italic-webfont.woff') format('woff'),
         url('fonts/dbsans-italic-webfont.ttf') format('truetype'),
         url('fonts/dbsans-italic-webfont.svg#db_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_sansregular';
    src: url('fonts/dbsans-regular-webfont.eot');
    src: url('fonts/dbsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dbsans-regular-webfont.woff') format('woff'),
         url('fonts/dbsans-regular-webfont.ttf') format('truetype'),
         url('fonts/dbsans-regular-webfont.svg#db_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}